$controls-color: #ADB5B9;
$border-color: #C2CACF;

* {
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica', sans-serif;
}

.btn {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  border: 1px solid transparent;
  background: transparent;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid $border-color;
  }
}

.btn--active {
  fill: #00D473
}

.wysiwyg-editor {
  display: block;
  max-width: 460px;
  margin: 100px auto 0;
}

.wysiwyg-controls {
  display: block;
  width: 100%;
  padding: 6px;
  border: 1px solid $border-color;
  border-bottom: none;
  border-radius: 3px 3px 0 0;
  background: #fff;
}

.wysiwyg-content {
  max-width: 100%;
  width: 100%;
  height: auto;
  min-height: 200px;
  padding: 12px;
  resize: both;
  overflow: auto;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  border: 1px solid $border-color;
  border-radius: 0 0 3px 3px;
  outline: 0;

  &:focus {
    border-color: red;
  }
}

.current-html {
  max-width: 400px;
  margin: 24px auto;
}

// Allow placeholder in content editable
[contenteditable="true"] {
  cursor: text;
  color: #212121;

  &:empty::after {
    content: attr(data-placeholder);
    color: #a0a0a0;
    font-style: italic;
  }
}

.react-select {
  display: inline-block
}

.popout {
  border: 1px solid #D4D9DC;
  box-shadow: 0 2px 4px 0 rgba(218, 221, 222, 0.35);
  background-color: #fff;
}

.popout__links {
  padding: 0;
  margin: 0;
  list-style: none;
}

.popout__link {
  display: flex;
  padding: 3px 6px;
  justify-content: space-between;
  cursor: pointer;

  &:hover {
    background: #F1F1F1;
  }
}

.popout__link__label {
  
}

.popout__link__icon {
  
}


//////////////////////////
// Color Picker
.popout__links--color {
  max-width: 162px;
  padding: 3px;
  font-size: 0;
}

.color-picker {

}

.color-picker__swatch {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 3px;
}

.color-picker__types {
  font-size: 0;
}

.color-picker__type {
  display: inline-block;
  width: 50%;
  padding: 8px 3px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}

.color-picker__type--active {
  border-bottom-color: #00D473;
  cursor: default;
}